.body {
  z-index: 1;
  margin: auto;
  width: 90%;
  /* background-size: contain;
  background-attachment: fixed;
  background-position: center bottom; */

}
.body::before {
  margin: auto;
  width: 90%;
  content: "";
  background-image: url('../../../public/mainImg1_3.png');
  /* background-image: url("../../public/communication_nonback.png"); */
  position: fixed;
  top: 70%;
  left: 10%;
  bottom: 0;
  /* background-attachment: fixed;
  background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  opacity : 0.4;
}
.content {
  margin-top: 4%;
  /* margin-left: 3%; */
  width: 75%;

}

.name {
  width:20%;
  margin-left: 4%;
  margin-top: -1.5%;
  text-align: left;
  font-weight: bolder;
}

.content2 {
  margin-left: 6%;
  margin-top: -4%;
  text-align: left;
  font-weight: bolder;
  font-size: 14px;
}
.color {
  background-color: transparent;
}
p {

  margin-bottom: 0px;
}

.box1 {
  width: 97%;
  margin-left: 1.5%;
  background-color: rgba(248, 237, 223, 0.568);
  border-radius: 10px 10px 10px 10px !important;
  margin-bottom: 2%;
  justify-content: flex-start;
  display: flex;
  /* margin-bottom: 3%; */
}


.box2 {
  /* width: 97%; */
  /* margin-left: 1.5%; */
  /* background-color: rgba(248,/= 237, 223, 0.568); */
  /* border-radius: 10px 10px 10px 10px; */
  /* margin-bottom: 2%; */
  justify-content: flex-start;
  display: flex;
  /* margin-bottom: 3%; */
}

.date {
  background-color: transparent;
  font-weight: bolder;
  margin-top: -1.3%;
  text-align: left !important;
  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */
  /* margin-left: %; */
  color: rgb(110, 108, 108);
  font-size: 14px;
  font-weight: bolder !important;
}

.profile {
  margin-top: 4.5%;
  width: 45px;
  height: 45px;
  background-size: 100%;
  border-radius: 50%;
  float: left;
  margin-left: 4%;
  /* padding-bottom: 4%; */
}