
.body {
  z-index: 1;
  margin: auto;
  width: 85%;
  height: 100%;
}
.body::before {
  margin: auto;
  width: 90%;
  content: "";
  background-image: url("../../public/communication_nonback.png");
  position: fixed;
  top: 55%;
  left: 10%;
  bottom: 0;
  /* background-attachment: fixed;
  background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  opacity : 0.2;
}


.goBack {
  display: inline;
  width: 40px;
  margin-right: 90%;
  /* margin-top: -2%; */
  padding-left: 10px;
  /* font-weight: bold; */
  font-size: 25px;
  color: #555;

}
.profileWrap{
  display: flex;
  padding-bottom: 5%;
}

.img {
  flex: 1;
  width: 70px;
  height: 70px;
  padding: 2px;
  margin-right: 7%;
  margin-left: 7.5%;
  border-radius: 60%;
  border: 1px solid #a26de8;
}
.profileImg {
  flex:1;
}
.commentProfileImg {
  margin-top: 3px;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  border: 0.5px solid #555;
}
.commentProfileInfo {
  padding-top: 5px;
  margin-left: 5px;
  flex: 1.8;
  text-align: left;
}
.commentContent {
  flex: 5;
  padding-top: 3%;
  line-height: 20px;
  /* max-width: max-content; */
  overflow-x:scroll;
  font-size: smaller;

  /* font-size: smaller; */
}

.commentUpdate {
  margin-top: 3%;
  flex: 0.5;
}
.commentDelete {
  margin-top: 3%;
  flex: 0.7;
}
.profileInfo {
  padding-top: 10px;
  margin-left: 20px;
  flex: 5;
}
.profileInfo :first-child {
  text-align: left;
  font-weight: bold;
}
.profileInfo :nth-child(2){
  text-align: left;
  font-size: smaller;
}
.title{
  text-align: left;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 5%;
} 
.writeTitle {
  display: flex;
  text-align: left;
  font-weight: bold;
}
.writeTitle input {
  flex: 5;
}
.writeTitle .selectCategory {
  flex: 2;
  margin-top: 1%;
  width: 100%;
}
select {
  width: 100%;
  color: #333;

}
select option {
  font-size: 50px;
}
.content {
  text-align: left;
}

.commentWrap {
}
.line {
  background-color: rgba(0, 0, 0, 0.035);
  margin-bottom: 7px;
  padding: 2px 2px;
  border-radius: 10px;
}

.inputComment {
  position: fixed;
  margin: auto;
  height: 35px;
  width: 85%;
  border: 1px solid gray;
  border-radius: 5px;
  bottom: 60px;
  font-size: smaller;
}
.inputComment input {
  padding: 5px 5px;
  width: 90%;
  /* height: 100%; */
  background-color:#ffffffd1 ;
}

.inputComment > .sendBtn {
  margin-right: -1px;
  padding: 1% 1.5%;
  width: 10%;
  height: 103%;
  background-color: #a26de8ed;
  border-radius: 4px;
}
.btnWrap {
  position: fixed;
  height: 35px;
  width: 85%;
  bottom: 60px;
}
.addImageBtn {
  margin-right: 90%;
  padding: 2% 1.5%;
  width: 13%;
  height: 100%;
  border: 1px solid #7e4bc0;
  background-color: transparent;
  border-radius: 13px;
}
.bookmark {
  flex: 1;
  /* padding-left: 40%; */
  margin-top: 5%;
}
.trashcan {
  flex: 1;
  margin-top: 5%;
  font-size: 18px;
  color: rgb(188, 13, 13);
}
.addPost {
  margin-top: -25px;
  width: 10%;
  position: fixed;
  right: 30px;
  font-weight: bold;
  background-color:#7e4bc0;
  border-radius: 7px;
  color: #fff;
  padding: 2px 0px;
}

.writeContent {
  height: 65vh;
  background-color: transparent;
  resize: none;
}


.myInput{
  display: none;
}

              
.profileBtn {
  display: none;
}
.startChatBtn {
  background-color: #6739a4b9;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;

}
.commentStartChatBtn {
  background-color: #6739a4b9;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;

}
.hidden {
  /* display: hidden; */
  visibility: none;
}
.updateModeInput {
  background-color: transparent;
  color: #333;
  padding-left: 3%;
}
.commentEdit {
  margin-top: 3%;
  flex: 1;
}