.left {
  border-radius: 10px 10px 10px 10px;
  background-color: antiquewhite;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  margin-left: 11%;
  margin-top: -5%;
  margin-bottom: 3%;
  padding-right: 3%;
  padding-left: 3%;
  /* width: 80%; */
  font-weight: bold;
}

.other {
  display: flex;
  font-size: small;
}

.name {
  justify-content: space-between;
  float: left;
  text-align: left;
}

.right {
  margin-bottom: 3%;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(163, 235, 235);
  display: flex;
  justify-content: end;
  padding-right: 3%;
  padding-left: 3%;
  width: fit-content;
  float: right;
  font-weight: bold;
}

.chatProfileImg{
  justify-content: left;
  display: flex;
  align-items: start;
  align-self: flex-start;
  text-align: left;
  width: 40px;
  height: 40px;
  padding: 4px;
  /* margin-right: 1%; */
  /* margin-left: 7.5%; */
  border-radius: 50%;
}