input {
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
}
.mainImg {
    width: 100%;
    margin: auto;
    display: block;
}
.titleWrap > td {
    border-bottom: 1px solid gray;
    font-size: large;
}
.userWrap img {
    border-radius: 30px;
    width: 10%;

}
.titleWrap {
    border: 1px solid red;
}
textarea {
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
}

select {
    text-align: left;
    border: none;
    width: 50%;
    outline: none;
}
.selectCategory {
    text-align: left;
}