.logo {
  font-size: 50px;
  font-family: "Arvo";
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /* max-width: 500px; */
  padding: 0 20px;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  text-align: left;

  overflow: auto;
}

/* 메인 이미지 */
.mainImg {
  width: 100%;
  height: 580px;
  background-color: black;
}

.mainImg img {
  width: 100%;
  height: 100%;
  /* background-color: black; */
}

/* 버튼 css */
.buttonLayout {
  margin-top: 5%;
  /* display: flex;
  justify-content: space-around; */
}
.buttonLayout button {
  width: 60%;
  height: 50px;
  margin: 2%;
  /* justify-content: center; */
  /* text-align: center; */
}

/* 텍스트가 서서히 올라옵니다. */
.fadein {
  overflow: hidden;
  animation: fadein 2s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
