.job_data{
  border-top : 1px double grey;
  height:50px;
  line-height:45px;
}

.job_data:hover{
  background-color : rgb(235, 210, 248);
}

.msg {
  text-align: center;
  font-family: "Noto Sans KR";
  margin: 0 auto;
  background-color: #a26ce9;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  width: 90%;
  height: 80px;
  line-height: 50px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 5%;
}